[Unit]
Description=Sensor Logger Service
After=fallback-rtc.service network-online.target
Requires=fallback-rtc.service

[Service]
Type=simple
User=jgers32
ExecStart=/bin/bash -c 'source /home/jgers32/Desktop/aq-sensor/env/bin/activate && python /home/jgers32/Desktop/aq-sensor/no_pm_sensor_logger.py'
WorkingDirectory=/home/jgers32/Desktop/aq-sensor
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
